.container{
    background-color: rgba(243, 243, 243, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 596px;
}
.text{
    margin-left: 100px;
    width: Hug (371px)px;
    height: Hug (254px)px;
    top: 266px;
    left: 248px;
    gap: 29px;
}
.dell{
    width: 341px;
height: 74px;
top: 28px;
font-size: 64px;
font-weight: 700;
line-height: 73.59px;
text-align: left;
color:rgba(101, 113, 127, 1);
;

}
.new{
    width: 297px;
height: 38px;
left: 2px;
font-size: 40px;
font-weight: 700;
line-height: 46px;
text-align: left;
color:rgba(26, 54, 240, 1);
}
.back{
    position: absolute;
    width: 590px;
    height: 590px;
    left: 676px;
}

.pro{
width: 400px;

font-size: 30px;
font-weight: 400;
line-height: 50px;
text-align: left;
}
